.socialnetworks {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-top: 16px;
  padding-bottom: 24px;
  // margin-bottom: 24px;

  // margin-top: 18px;

  // margin-bottom: 60px;
}

.socialnetworks__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-bg-color);
  border-radius: 50%;

  text-decoration: none;

  transition: background-color var(--anim);

  &:hover,
  &:focus {
    background-color: var(--acceent-color);
  }
}

.socialnetworks__icon {
  fill: #afb1b8;

  .socialnetworks__link:hover &,
  .socialnetworks__link:focus & {
    fill: var(--secondary-text-color);
  }
}

.socialnetworks__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.socialnetworks__icon--accent {
  fill: var(--secondary-text-color);
}
