.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header__container,
.nav__container {
  display: flex;
  align-items: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: center;
}

.form-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
