/* feature */

// .feature,
// .clients {
//   // padding-top: 94px;
//   // padding-bottom: 94px;
// }

.feature__list {
  // display: flex;
  display: block;
  margin-right: auto;
  margin-left: auto;
  // padding-top: 30px;
  // padding-bottom: 30px;
  // gap: 30px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.feature__item {
  // display: block;
  // width: 270px;
  width: 450px;
}

.feature__group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 120px;

  background-color: var(--secondary-bg-color);

  margin-bottom: 30px;
  margin-top: 30px;

  // margin-bottom: 60px;

  // display: flex;
  // align-items: center;
  // justify-content: center;
  // width: 270px;
  // height: 120px;

  // background-color: var(--secondary-bg-color);

  // margin-bottom: 30px;
}

.feature__description {
  line-height: 1.71;
  margin-top: 10px;
}
