/* footer */

.footer {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;

  &__accent {
    color: var(--acceent-color);
  }
}

.footer__logo {
  color: var(--secondary-text-color);

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;

  transition: color var(--anim);

  &:hover,
  &:focus {
    color: var(--acceent-color);
  }
}

.address__list {
  font-style: normal;
  line-height: 1.71;
  margin-top: 20px;

  transition: color var(--anim);
}

.address__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__group-socialnetworks {
  margin-left: 70px;
  margin-top: 12px;
}

.signup-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  margin-right: 12px;

  background-color: #2f303a;

  padding-left: 15px;

  color: rgba(255, 255, 255, 0.6);
}

.address__link {
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.71;

  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--acceent-color);
  }

  &--accent {
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__group-subscribe {
  margin-top: 12px;
  margin-left: 93px;
}

.signup-form {
  display: flex;
  align-items: center;
}

.signup-form__btn {
  background-color: var(--acceent-color);
  color: var(--primary-bg-color);

  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: inherit;
  border-radius: 4px;

  cursor: pointer;

  padding: 10px 29px;
}

.signup-form__icon {
  fill: var(--secondary-text-color);

  margin-left: 10px;
}
