/* header */

.header {
  position: relative;

  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;

  &__accent {
    color: var(--acceent-color);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__logo {
  color: var(--title-text-color);

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;

  text-decoration: none;

  transition: color var(--anim);

  &:hover,
  &:focus {
    color: var(--acceent-color);
  }
}

.nav__link {
  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;

  transition: color var(--anim);

  &:hover,
  &:focus {
    color: var(--acceent-color);
  }
}

.nav__list--current {
  color: var(--acceent-color);

  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 45px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--acceent-color);
  }
}

.contacts__link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;

  transition: color var(--anim);

  &:hover,
  &:focus {
    color: var(--acceent-color);
  }
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.contacts__list {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
