.menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: var(--primary-bg-color);
  border: transparent;
  // border-radius: 50%;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  outline: transparent;

  transition: fill var(--anim);

  &:hover .menu__icon,
  &:focus .menu__icon {
    fill: var(--acceent-color);
  }

  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }
}

.mobile-menu__group {
  display: flex;
  flex-direction: column;
}

.mobile-menu__nav {
  color: var(--title-text-color);
  font-size: 40px;
  line-height: 1.18;
}

.mobile-menu__phone {
  color: var(--acceent-color);

  font-size: 34px;
  line-height: 1.18;
}

.mobile-menu__mail {
  color: var(--primary-text-color);

  font-size: 24px;
  line-height: 28px;
}

.mobile-menu__list-wrapper {
  display: flex;

  color: var(--acceent-color);

  font-size: 18px;
  line-height: 22px;
}
